<html ng-app="jukeboxApp">
    <head>
        <title>Jukebox</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="./bootstrap/dist/css/bootstrap.css"></link>
        <link rel="stylesheet" type="text/css" href="./app.css"></link>
        <script src="./angular.min.js"></script>
        <script src="./index.js"></script>
    </head>
    <body ng-controller="cadastraArtistaCtrl as cadastraArtista">

        {{cadastraArtista.artistas}}<br/>
        {{cadastraArtista.artista}}<br/>

        <div class="content jumbotron">
            <h2>Juketop</h2>

            <form ng-submit="cadastraArtista.salvaArtista(cadastraArtista.artista)">
                <input 
                    class="form-control"
                    placeholder="Nome do artista"
                    type="text"
                    ng-required="true"
                    ng-model="cadastraArtista.artista.nome">
                </input>

                <input
                    class="form-control"
                    placeholder="Link da foto do artista"
                    type="text"
                    ng-model="cadastraArtista.artista.linkFoto">
                </input>
                
                <button class="btn btn-primary form-control" type="submit">Cadastrar artista</button>
            </form>

            <div class="alert alert-danger" ng-show="cadastraArtista.valida()">
                O artista já existe no sistema.    
            </div>
        </div>
    </body>
</html>