.content {
    width: 35%;
    margin-left: 32.5%;
    padding: 35px;
}

.content h2 {
    text-align: center;
    margin-bottom: 35px;
}

.content h3 {
    text-align: center;
    margin-bottom: 20px;
}

.content h5 {
    text-align: center;
}

.content input {
    margin-bottom: 10px;
}

.table.table-sm {
    margin-left: 8%;
    margin-right: 8%;
    text-align: right;
}