.content {
    width: 100%;
    margin-left: 0%;
    padding: 35px;
}

.content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.content h3 {
    text-align: center;
    margin-bottom: 20px;
}

.content h5 {
    text-align: center;
}

.content h6 {
    text-align: center;
}

.content input {
    margin-bottom: 10px;
}

.table.table-sm {
    margin-left: 8%;
    margin-right: 8%;
    text-align: right;
}

img.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.material-icons {
    cursor: pointer;
    vertical-align: middle;
}

.material-icons.favicon {
    color: orangered;
}

.estrelas {
    cursor: pointer;
}

.fav {
    height: 50%;
}

.fav h2 {
    text-align: center;
}

.fav h5 {
    text-align: center;
}

.busca {
    height: 40%;
    padding: 10px;
}