.content {
    width: 35%;
    margin-left: 32.5%;
    padding: 35px;
}

.content h2 {
    text-align: center;
    margin-bottom: 35px;
}

.content h3 {
    text-align: center;
    margin-bottom: 20px;
}

.content input {
    margin-bottom: 10px;
}