<div class="row">
    <div class="col">
        <div class="content jumbotron">
            <ng-include src="'templates/header.html'"></ng-include>

            <h3>Cadastro de artista</h3>
            <form ng-submit="artistaCtrl.salvaArtista(artistaCtrl.artista)">
                <input 
                    class="form-control"
                    placeholder="Nome do artista"
                    type="text"
                    ng-required="true"
                    ng-model="artistaCtrl.artista.nome">
                </input>

                <input
                    class="form-control"
                    placeholder="Link da foto do artista"
                    type="text"
                    ng-model="artistaCtrl.artista.linkFoto">
                </input>
                
                <button class="btn btn-primary form-control" type="submit">Cadastrar artista</button>
                <div class="alert alert-danger" ng-show="artistaCtrl.valida()">
                    O artista já existe no sistema.    
                </div>
            </form>


            <h3>Pesquisa de artista</h3>
            <form ng-submit="artistaCtrl.pesquisa()">
                <input
                    class="form-control"
                    placeholder="Nome do artista"
                    type="text"
                    ng-model="artistaCtrl.nomePesquisado">
                </input>
                
                <button class="btn btn-primary form-control" type="submit">Pesquisar artista</button>
            </form>
        </div>
    </div>

    <div class="col">
        <ng-include src="'templates/favoritos.html'"></ng-include>

        <div ng-show="artistaCtrl.pesquisado()">
                <div class="jumbotron busca">
                    <h3>Resultado da pesquisa</h3>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="artista in artistaCtrl.artistas | 
                                filter:artistaCtrl.nomePesquisado | 
                                orderBy: 'nome'" 
                                ng-click="artistaCtrl.go(artista.nome)">
                                <th scope="row">{{$index + 1}}</th>
                                <td>{{artista.nome}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>