<div class="row">
    <div class="col">
        <div class="content jumbotron">
            <ng-include src="'templates/header.html'"></ng-include>

            <h3>Cadastro de música</h3>
            <form ng-submit="musicaCtrl.salvaMusica(musicaCtrl.musica)">
                <input 
                    class="form-control" 
                    placeholder="Nome da música" 
                    type="text" 
                    ng-required="true"
                    ng-model="musicaCtrl.musica.nome">
                </input>

                <select class="form-control"
                        ng-required="true"
                        ng-options="artista.nome for artista in musicaCtrl.artistas()"
                        ng-model="musicaCtrl.musica.artista">
                    <option value="" disabled selected>Artista</option>
                </select>

                <input
                    class="form-control" 
                    placeholder="Nome do álbum" 
                    type="text" 
                    ng-required="true"
                    ng-model="musicaCtrl.musica.album">
                </input>

                <input
                    class="form-control" 
                    placeholder="Ano de lançamento" 
                    type="text" 
                    ng-required="true"
                    ng-model="musicaCtrl.musica.ano">
                </input>

                <input
                    class="form-control" 
                    placeholder="Duração" 
                    type="text" 
                    ng-required="true"
                    ng-model="musicaCtrl.musica.duracao">
                </input>

                <button class="btn btn-primary form-control" type="button" ng-click="musicaCtrl.confirma()">Adicionar música</button>

                <div ng-show="musicaCtrl.confirmacao()" class="alert alert-primary">
                    Deseja adicionar esta música ao sistema?<br/>

                    <button class="btn btn-primary" type="submit" ng-click="musicaCtrl.desconfirma()">Sim</button>
                    <button class="btn btn-secondary" type="button" ng-click="musicaCtrl.desconfirma()">Não</button>
                </div>
            </form>

            

            <div class="alert alert-danger" ng-show="musicaCtrl.valida()">
                A música já existe no álbum.  
            </div>
        </div>
    </div>

    <div class="col">
        <ng-include src="'templates/favoritos.html'"></ng-include>
    </div>
</div>