<h3>Perfilzão top</h3>

<img ng-src="{{perfilCtrl.artista.linkFoto}}"
     width="100px"
     class="rounded-circle avatar">
</img>
<h5>{{perfilCtrl.artista.nome}} 
    <i class="material-icons favicon"
       ng-hide="perfilCtrl.favorito()"
       ng-click="perfilCtrl.adicionaFavorito()">favorite_border</i>
    <i class="material-icons favicon"
       ng-show="perfilCtrl.favorito()"
       ng-click="perfilCtrl.removeFavorito()">favorite</i>
</h5>

<star-rating-comp 
    rating="perfilCtrl.artista.nota"
    class="estrelas"
    show-half-stars="true"
    static-color="'ok'"
    on-click="perfilCtrl.atualizaNota($event)">
</star-rating-comp>

<h6>{{perfilCtrl.artista.ultimaMusica ? "Última música ouvida: " + perfilCtrl.artista.ultimaMusica.nome : "Nenhuma música deste artista foi ouvida ainda."}}</h6>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Álbum</th>
                <th scope="col" style="text-align:right">Ano</th>
            </tr>
        </thead>
        <tbody ng-repeat="album in perfilCtrl.albuns |
               orderBy: 'musicas[0].ano'">
            <tr data-toggle="collapse"
                data-target="#{{$index}}"
                aria-expanded="false"
                aria-controls="{{$index}}">
                <td>{{album.nome}}</td>
                <td style="text-align:right">{{album.musicas[0].ano}}</td>
            </tr>
            <td class="collapse row" id="{{$index}}" style="padding: 0;">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Música</th>
                            <th scope="col">Duração</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="musica in album.musicas | 
                            orderBy: 'nome'">
                            <th scope="row">{{$index + 1}}</th>
                            <td>{{musica.nome}}</td>
                            <td>{{musica.duracao}}</td>
                            <td><img ng-src="./assets/images/play.svg"
                                     width="22px"
                                     ng-click="perfilCtrl.salvaUltima(musica)"></img></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tbody>
    </table>
</div>